pygame
numpy
pydrive
ffmpeg
ffmpeg-python 
google-api-python-client 
google-auth 
google-auth-oauthlib
pydrive2
oauth2client
openpyxl>=3.1.2,<4
python-docx>=1.0.0
qrcode[pil]
openai
python-barcode
google-ads>=24.0.0

# ====== LLM Modules ======
mcp
markdownify
beautifulsoup4
emoji
pydantic>=2.0.0
jinja2
pyyaml
jsonschema
PyMuPDF
markdown2
requests
pgvector
beautifulsoup4