<odoo>

<record id="action_custom_barcode_ui" model="ir.actions.act_url">
  <field name="name">Scan Phiếu (UI)</field>
  <field name="type">ir.actions.act_url</field>
  <field name="url">/custom_barcode_scan/ui</field>
  <field name="target">new</field> <!-- QUAN TRỌNG -->
</record>

  <menuitem id="menu_custom_barcode_ui" name="🔍 Quét Phiếu Kho" parent="stock.menu_stock_warehouse_mgmt"
            action="action_custom_barcode_ui" sequence="99"/>
</odoo>