@font-face {
    font-family: "HLV-TNR";
    src: url("/hlv_font/static/src/fonts/times-new-roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HLV-TNR";
    src: url("/hlv_font/static/src/fonts/times-new-roman-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "HLV-TNR";
    src: url("/hlv_font/static/src/fonts/times-new-roman-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "HLV-TNR";
    src: url("/hlv_font/static/src/fonts/times-new-roman-bolditalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Áp cho toàn bộ layout báo cáo */
.o_report_layout,
.o_report_layout * {
    font-family: "HLV-TNR", "DejaVu Sans", serif !important;
}